
#IT{
    background: url(Images/IT\ cyph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    margin-left: -20px;
    background-size:cover;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
}
p#FUELS{
  padding-right: 60px;
}
p#FUELS , #CIPHERS{
    margin-top: 10rem;
    padding-left: 60px;
    
    font-size: 40px;
}
#cyber, #AI, #cs, #SE{
    background: url(Images/background.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    margin-top: -40px;
    margin-left: -20px;
}
 h1#main ,h2#t1 , h2#t2{
    color: white;
    padding-left:  60px; 
    padding-right: 60px;
}
img{
    max-width: 100%;
    height: auto;
}

img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.fade-in-text {
    font-family: Arial;
    font-size: 60px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }